/* Default Styles for Accordion Menu */
.accordion {
    display: grid;
    grid-gap: 0.5rem;
}
  
.accordionTitle {
    display: grid;
    grid-template-columns: 1fr auto; 
    align-items: center;
    background: #C5D8E8;
    border-radius: 10px;
    cursor: pointer;
    padding: 1rem; 
    width: 100%;
}
  
.accordionTitle h3 {
    font-weight: 600;
}
  
.dropdownUp,
.dropdownDown {
    height: 0;
    width: 0;
}
  
.dropdownUp {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #677382;
 }
  
.dropdownDown {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid #677382;
}
  
.accordionContent {
    height: 0;
    overflow: hidden;
    padding: 0 1rem;
    transition: all 0.5s cubic-bezier(0, 1, 0, 1);
    text-align: left;
}
  
.accordionContent.show {
    height: auto;
    max-height: 9999px;
    padding: 1rem;
    transition: all 0.5s ease;
}
/* End of Accordion Menu Default Styles */

/* Default Styles for Refactored Accordion Menu */
.accordion {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

/* Accordion Header Styles */
.accordion-header {
    cursor: pointer;
    display: grid;
    grid-auto-columns: 1fr;
    align-items: center;
}

.accordion-header:hover {
    background-color: #f0f0f0;
}

/* Accordion Body Styles */
.accordion-body {
    height: 0;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    text-align: left;
}

/* Visible Accordion Body when expanded */
.accordion.expanded .accordion-body {
    height: auto;
    max-height: 9999px;
    transition: transform 0.3s ease-in-out;
}

/* Toggle Icon Styles */
.accordion-toggle {
    font-size: 18px;
    color: #888;
    transition: transform 0.3s ease-in-out;
}

/* Arrow Points Up (Expanded) */
.accordion.expanded .accordion-toggle {
    transform: rotate(-180deg);
}

/* Arrow Points Down (Collapsed) */
.accordion-toggle {
    transform: rotate(0deg);
}
/* End of Accordion Menu Default Styles*/
  