.context-menu.active {
    visibility: visible;
    opacity: 1;
    display: grid;
    grid-auto-flow: column;
    grid-auto-rows: 1fr;
}

.context-menu button {
    width: 100%;
    background-color: transparent;
    border: 0;
    border-radius: 5px;
    display: grid;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 5px 8px;
    cursor: pointer;
    color: black;
}

.context-menu button:hover {
    background-color: #159A9C;
    color: white;
}

.context-menu hr {
    border: 0;
    border-bottom: 1px solid #aaa;
    background-color: transparent;
    margin: 5px 0;
}

.context-menu .icon {
    opacity: 1;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}