/* Default Styles for Dropdown Menu */
.dropdown-menu {
    position: relative;
    display: grid;
    transition: all 0.3s ease-in-out;
}

.dropdown-header {
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-auto-flow: column;
    align-items: center;
}

.dropdown-body {
    position: absolute;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    text-align: left;
    z-index: 1000;
}

.dropdown-menu.expanded .drowpdown-body {
    max-height: 9999px;
}

.dropdown-toggle {
    transition: transform 0.3s ease-in-out;
}

.dropdown-menu.expanded .dropdown-toggle {
    transform: rotate(-180deg);
}

.dropdown-toggle {
    transform: rotate(0deg);
}
/* End of Dropdown Menu Default Styles*/
